# EIA data: exploring

In [28]:
%load_ext autoreload
%autoreload 2
from climate.eia import utils as u
data_path = "./../../data/eia"

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [54]:
gen_data = pd.read_csv(f"{data_path}/processed/generation.csv")

In [55]:
gen_data.dtypes

plant_id                            int64
combined_heat_and__power_plant     object
plant_name                         object
operator_name                      object
operator_id                         int64
plant_state                        object
census_region                      object
nerc_region                        object
naics_code                          int64
sector_number                       int64
sector_name                        object
generator_id                       object
reported_prime_mover               object
net_generation_january             object
net_generation_february            object
net_generation_march               object
net_generation_april               object
net_generation_may                 object
net_generation_june                object
net_generation_july                object
net_generation_august              object
net_generation_september           object
net_generation_october             object
net_generation_november            object
net_generation_december            object
net_generation_year_to_date       float64
year                                int64
dtype: object

In [56]:
gen_data.head()

,plant_id,combined_heat_and__power_plant,plant_name,operator_name,operator_id,plant_state,census_region,nerc_region,naics_code,sector_number,...,net_generation_may,net_generation_june,net_generation_july,net_generation_august,net_generation_september,net_generation_october,net_generation_november,net_generation_december,net_generation_year_to_date,year
0,3,N,Barry,Alabama Power Co,195,AL,ESC,SERC,22,1,...,-277,-293,-323,.,.,.,.,.,2787.0,2020
1,3,N,Barry,Alabama Power Co,195,AL,ESC,SERC,22,1,...,-192,-363,-432,.,.,.,.,.,-614.0,2020
2,3,N,Barry,Alabama Power Co,195,AL,ESC,SERC,22,1,...,-1464,-1211,-1193,.,.,.,.,.,51249.0,2020
3,3,N,Barry,Alabama Power Co,195,AL,ESC,SERC,22,1,...,200505,218139,348463,.,.,.,.,.,1453006.0,2020
4,3,N,Barry,Alabama Power Co,195,AL,ESC,SERC,22,1,...,9175,118551,122745,.,.,.,.,.,732876.0,2020